#enter-button{
	margin-top: 10vh;
}

#enter-button a{
	font-size: 35px;
	font-family: 'Righteous', cursive;
	color: #FFDC00;
}

nav{
	font-weight: bold;
	font-family: 'Righteous', cursive;
}

nav .nav-wrapper{
	background-color: #00C8BE;
}

nav .nav-wrapper a{
	color: #FFDC00;
}

.error{
	color: red;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 16px;
}
#product-title{
	font-size: 50px;
}

/*desiging tabel*/
.row table th {
	border: 1px solid white;
	color: #01FF8F;
	font-size: 35px;
}

.row table td {
	border: 1px solid white;
}

.row table a, td, th{
	color: white;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 25px;
}

.row table a:hover{
	color: #00DBEA;
}

/*.row table td:hover{
	background-color: #E9E500;
}*/
/*tabel design */

#purchase-confirm p{
	font-size: 17px;
	font-weight: lighter;
	color: #FF851B;
}

#purchase-confirm #p-header{
	font-size: 20px;
	font-weight: 300;
	color: #39CCCC;
}

#purchase-page h4{
	font-weight: 300;
	color: #39CCCC;
}
#index-page h1{
	font-family: 'Abril Fatface', cursive;
	color: #00DBEA;
	font-size: 100px;
}

body{
	background-color: #272822;
	color: #262626;
}

.font{
	font-family: 'Abril Fatface', cursive;
	color: #00DBEA;
}

.sub-header{
	color: #00C9CB;
	font-family: 'Libre Franklin', sans-serif;
}

/*form design*/
.row .input-field label{
	font-size: 25px;
	color: black;
	font-family: 'Abril Fatface', cursive;
}

.row .input-field input {
	font-size: 22px;
}

form {
	background-color: white;
	border-radius: 5%;
	border: 2px solid #51FECE;
}

#submit{
	color: black;
	background-color: #51FECE;
	font-size: 25px;
}


